[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cython = "*"
jupyter = "*"
pandas = "*"
setuptools = "*"
ssm = {editable = true, ref = "master", git = "https://github.com/lindermanlab/ssm.git"}
mat73 = "*"

[dev-packages]

[requires]
python_version = "3.7"
