[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cython = "*"
jupyter = "*"
pandas = "*"
setuptools = "*"
mat73 = "*"
jupytext = "*"
jupyter-contrib-nbextensions = "*"
k3d = "*"
ipyvolume = "*"
torch = "*"
elephant = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.ssm]
editable = true
ref = "master"
git = "https://github.com/raeedcho/ssm.git"

[packages.pyaldata]
git = "https://github.com/raeedcho/pyaldata.git"
editable = true
ref = "main"

[packages.geotorch]
git = "https://github.com/Lezcano/geotorch.git"
editable = false
ref = "master"

[packages.ssa]
git = "https://github.com/jglaser2/ssa.git"
editable = true
ref = "main"
